# -*- mode: makefile -*-

OCAMLFIND=ocamlfind

# ocamlc compilation flags
OCAMLFLAGS = -bin-annot -g

OCAMLFLAGS_BYTE =
OCAMLFLAGS_NATIVE = -inline 3 #-unsafe -noassert

OCAMLBUILD=ocamlbuild -use-ocamlfind $(OCAMLFLAGS:%=-cflag %) -ocamlc "ocamlfind ocamlc $(OCAMLFLAGS_BYTE)" -ocamlopt "ocamlfind ocamlopt $(OCAMLFLAGS_NATIVE)"

LATEX=latex
DVIPDF=dvipdf
MAKEINDEX=makeindex
